---
import { pwaInfo } from 'virtual:pwa-info';
import LoginForm from '../components/LoginForm';
const { BASE_URL } = import.meta.env;
---

<html>
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href={BASE_URL} /> 
	{pwaInfo?.webManifest?.linkTag && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
</head>
  <body>
    <h1>Willkommen! Bitte melden Sie sich an</h1>
    
    <!-- Die React-Komponente für das Login-Formular -->
	<LoginForm client:load />

    <!-- Footer -->
    <footer>
      <p>© 2025</p>
    </footer>
  </body>
</html>